<div class="page-wrapper">
    <!-- START HEADER-->
    <app-navbar></app-navbar>
    <nav class="navbar navbar-default mt-2">
    </nav>
    <!-- END HEADER-->
    <!-- START SIDEBAR-->
    <app-sidebar-secondly></app-sidebar-secondly>
    <!-- END SIDEBAR-->
<div class="content-wrapper">
     <div class="container shadow mb-3 ibox">
        <div class="ibox-head">
            <div class="ibox-title"> <i class="sidebar-item-icon fa fa-image"></i> Gestion des images</div>
            <div class="ibox-tools">
                <button class="btn btn-info m-r-5" data-toggle="modal" data-target="#modalGalerie">
                    <span class="active-hidden"><i class="fa fa-plus"></i> Ajouter</span>
                </button>
            </div>
        </div>


         <div class="row pt-5">
            
                <div class="col-lg-3" *ngFor="let item of _galerie">
                    <div class="ibox">
                        <div class="ibox-head bg-primary tit-mod1">
                            <div class="ibox-title"> {{ item.name | slice: 0: 10 }}</div>
                            <div class="ibox-tools">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-99px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item"  (click)="getImageById(item.id)" data-toggle="modal" data-target="#modalGalerie" (click)="selectFile($event)">Mettre à jour</a>
                                    <a class="dropdown-item" (click)="deleteimage(item.id)">Supprimer</a>
                                </div>
                            </div>
                        </div>
                        <img class="card-img-top" src="{{root_url}}/images/{{item.link}}">
                </div>
                
            </div>


        </div>

    </div>
</div>
<!-- modal for add Ajouter Galerie -->


<div id="modalGalerie" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Ajouter Galeries</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="ngOnInit()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="galerieForm" (ngSubmit)="onSubmit()">
                <input type="hidden" formControlName="id" required>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group col-12">
                            <label for="name">Description</label>
                            <input id="name01" type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name?.errors }">
                            <div *ngIf="submitted && f.name?.errors" class="invalid-feedback">
                                <label *ngIf="submitted && f.name?.errors.required" id="name-error" class="help-block error" for="name" >le nom est nécessaire.</label>
                                <label *ngIf="submitted && f.name?.errors.minlength" id="name-error" class="help-block error" for="name" >le nom Doit être au moins 4 caractères.</label>
                                <label *ngIf="submitted && f.name?.errors.maxlength" id="name-error" class="help-block error" for="name" >Le nom est trop long.</label>
                            </div>
                        </div>
                        
                        <div class="form-group col-12">
                            <label for="name">keyword</label>
                            <input id="keyword" type="text" class="form-control" formControlName="keyword" [ngClass]="{ 'is-invalid': submitted && f.keyword?.errors }">
                            <div *ngIf="submitted && f.keyword?.errors" class="invalid-feedback">
                                <label *ngIf="submitted && f.keyword?.errors.required" id="name-error" class="help-block error" for="name" >le nom est nécessaire.</label>
                                <label *ngIf="submitted && f.keyword?.errors.minlength" id="name-error" class="help-block error" for="name" >le nom Doit être au moins 4 caractères.</label>
                                <label *ngIf="submitted && f.keyword?.errors.maxlength" id="name-error" class="help-block error" for="name" >Le nom est trop long.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label for="exampleFormControlFile1">Choisissez une image. (jpg, jpeg, png)</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="selectFile($event)" accept="image/png,image/jpeg" formControlName="link">
                            <label *ngIf="submitted && this._data_Img !== undefined && !this.validSizeFile(_data_Img)" id="name-error" class="help-block error" for="name" >Le fichier ne doit pas dépasser 1 Mo</label>
                            <label *ngIf="submitted && f.link?.errors && _data_Img == undefined" id="name-error" class="help-block error" for="name" >l'image est nécessaire.</label>

                        <img class="card-img-top my-3" src="{{root_url}}/images/{{url}}" *ngIf="url.indexOf('data:') == -1">
                        <img class="card-img-top my-3" src="{{url}}" *ngIf="url.indexOf('data:') !== -1">


                    </div>
                    
                    
                    
                   
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mt-3" *ngIf="galerieForm.get('id').value == '' ">Ajouter</button>
                    <button type="submit" class="btn btn-success mt-3" *ngIf="galerieForm.get('id').value !== '' ">Modifier</button>
                </div>
            </form>
          </div>
      </div>
    </div>
</div>