<div class="page-wrapper">
    <!-- START HEADER-->
    <app-navbar></app-navbar>
    <nav class="navbar navbar-default mt-2">
    </nav>
    <!-- END HEADER-->
    <!-- START SIDEBAR-->
    <app-sidebar-secondly></app-sidebar-secondly>
    <!-- END SIDEBAR-->
<div class="content-wrapper">
     <div class="container shadow mb-3 ibox">
        


        <div class="ibox">
            <div class="ibox-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="ibox bg-success color-white widget-stat">
                                <div class="ibox-body">
                                    <h2 class="m-b-5 font-strong">{{_galerie.length}}</h2>
                                    <div class="m-b-5">Images</div><i class="ti-image widget-stat-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ibox bg-danger color-white widget-stat">
                                <div class="ibox-body">
                                    <h2 class="m-b-5 font-strong">{{_video.length}}</h2>
                                    <div class="m-b-5">Videos</div><i class="ti-video-clapper widget-stat-icon"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="ibox bg-yellow color-white widget-stat">
                                <div class="ibox-body">
                                    <h2 class="m-b-5 font-strong">{{_document.length}}</h2>
                                    <div class="m-b-5">Document</div><i class="ti-files widget-stat-icon"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="ibox bg-grey color-white widget-stat">
                                <div class="ibox-body">
                                    <h2 class="m-b-5 font-strong">{{_lien_extern.length}}</h2>
                                    <div class="m-b-5">liens Externes</div><i class="ti-link widget-stat-icon"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="ibox bg-info color-white widget-stat">
                                <div class="ibox-body">
                                    <h2 class="m-b-5 font-strong">{{_reseau.length}}</h2>
                                    <div class="m-b-5">Reseaux Sociaux</div><i class="ti-layout-list-thumb-alt widget-stat-icon"></i>
                                </div>
                            </div>
                        </div>

                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox invoice">
            <div class="invoice-header">
                <div class="row">
                    <div class="col-6">
                        
                        <div>
                            
                            <ul class="list-unstyled m-t-10">
                                <li class="m-b-5">
                                    <span class="font-strong">Evénement : </span> not working</li>
                                <li class="m-b-5">
                                    <span class="font-strong">Espace d'exposition : </span>not working</li>
                                <li>
                                    <span class="font-strong">créé par : </span>not working</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <div class="clf" style="margin-bottom:30px;">
                            <dl class="row pull-right" style="width:250px;"><dt class="col-sm-6">Créé à : </dt>
                                <dd class="col-sm-6">10 April 2017</dd><dt class="col-sm-6">mise à jour : </dt>
                                <dd class="col-sm-6">30 April 2017</dd><dt class="col-sm-6">Id : </dt>
                                <dd class="col-sm-6">1450012</dd>
                            </dl>
                        </div>
                       
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
