<div class="page-wrapper">
    <!-- START HEADER-->
    <app-navbar></app-navbar>
    <nav class="navbar navbar-default mt-2">
    </nav>
    <!-- END HEADER-->
    <!-- START SIDEBAR-->
    <app-sidebar-secondly></app-sidebar-secondly>
    <!-- END SIDEBAR-->
<div class="content-wrapper">
     <div class="container shadow mb-3 ibox">
        <div class="ibox-head">
            <div class="ibox-title"> <i class="sidebar-item-icon fa fa-play-circle"></i> Gestion des Videos</div>
            <div class="ibox-tools">
                <button class="btn btn-info m-r-5" data-toggle="modal" data-target="#modalVideo">
                    <span class="active-hidden"><i class="fa fa-plus"></i> Ajouter</span>
                </button>
            </div>
        </div>


         <div class="row pt-5">
            
                <div class="col-lg-4" *ngFor="let item of _video" >
                    <div class="ibox">
                        <div class="ibox-head bg-primary tit-mod1">
                            <div class="ibox-title"> {{ item.name | slice: 0: 10 }}</div>
                            <div class="ibox-tools">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-99px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item"  (click)="getVideoById(item.id)" data-toggle="modal" data-target="#modalVideo">Mettre à jour</a>
                                    <a class="dropdown-item" (click)="deleteVideo(item.id)">Supprimer</a>
                                </div>
                            </div>
                        </div>
                        <iframe  width="100%" height="250px" [src]="getEmbedUrl(item.link)" allowfullscreen></iframe>
                </div>
                
            </div>


        </div>

    </div>
</div>

<!-- modal for add Ajouter Videos -->

<div id="modalVideo" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Ajouter Video</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ngOnInit()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="VideoForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="name">Nom</label>
                        <input id="name05" type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name?.errors }">
                        <div *ngIf="submitted && f.name?.errors" class="invalid-feedback">
                            <label *ngIf="submitted && f.name?.errors.required" id="name-error" class="help-block error" for="name" >le nom est nécessaire.</label>
                            <label *ngIf="submitted && f.name?.errors.minlength" id="name-error" class="help-block error" for="name" >le nom Doit être au moins 4 caractères.</label>
                            <label *ngIf="submitted && f.name?.errors.maxlength" id="name-error" class="help-block error" for="name" >Le nom est trop long.</label>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label for="link">Entrez le lien vidéo ou l'identifiant.</label>
                        <input id="link05" type="text" class="form-control" formControlName="link" [ngClass]="{ 'is-invalid': submitted && f.link?.errors }">
                        <div *ngIf="submitted && f.link?.errors" class="invalid-feedback">
                            <label *ngIf="submitted && f.link?.errors.required" id="name-error" class="help-block error" for="name" >le line est nécessaire.</label>
                            <label *ngIf="submitted && f.link?.errors.maxlength" id="name-error" class="help-block error" for="name" >Le URL est trop long.</label>
                            <label *ngIf="submitted && f.link?.errors.minlength" id="name-error" class="help-block error" for="name" >Le URL Doit être au moins 4 caractères.</label>
                        </div>
                    </div>
                    <input type="hidden" formControlName="id" required>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mt-3" *ngIf="VideoForm.get('id').value == '' ">Ajouter</button>
                    <button type="submit" class="btn btn-success mt-3" *ngIf="VideoForm.get('id').value !== '' ">Modifier</button>
                </div>
            </form>
          </div>
      </div>
    </div>
</div>


