<!-- <nav class="navbar navbar-expand-lg bg-info fixed-top mx-0">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" routerLink="/">Info Color</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="example-navbar-info" aria-controls="example-navbar-info" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="example-navbar-info">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login">
              <p>Login</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <p>Register</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <p (click)="logout()">Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<!--   <nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-info fixed-top">
    <div class="container">
    <a class="navbar-brand font-bold" routerLink="/">OkSulotion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!userIsLogin()">
                <a class="nav-link" routerLink="/login"> login & Register</a>
            </li>
            <li class="nav-item dropdown" *ngIf="userIsLogin()">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" (click)="logout()" >Log out</a>
                </div>
            </li>
        </ul>
    </div>
  </div>
</nav> -->

<header class="header">
  <div class="page-brand">
      <a class="link" href="index.html">
          <span class="brand">Admin
              <span class="brand-tip">CAST</span>
          </span>
          <span class="brand-mini">AC</span>
      </a>
  </div>
  <div class="flexbox flex-1">
      <!-- START TOP-LEFT TOOLBAR-->
      <ul class="nav navbar-toolbar">
          <li>
              <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
          </li>
          <li>
              <form class="navbar-search" action="javascript:;">
                  <div class="rel">
                      <span class="search-icon"><i class="ti-search"></i></span>
                      <input class="form-control" placeholder="Search here...">
                  </div>
              </form>
          </li>
      </ul>
      <!-- END TOP-LEFT TOOLBAR-->
      <!-- START TOP-RIGHT TOOLBAR-->
      <ul class="nav navbar-toolbar">
          <li class="dropdown dropdown-inbox">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i>
                  <span class="badge badge-primary envelope-badge">9</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                  <li class="dropdown-menu-header">
                      <div>
                          <span><strong>9 New</strong> Messages</span>
                          <a class="pull-right" href="mailbox.html">view all</a>
                      </div>
                  </li>
                  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 240px;"><li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f" style="overflow: hidden; width: auto; height: 240px;">
                      <div>
                          <a class="list-group-item">
                              <div class="media">
                                  <div class="media-img">
                                      <img src="./assets/img/users/u1.jpg">
                                  </div>
                                  <div class="media-body">
                                      <div class="font-strong"> </div>Jeanne Gonzalez<small class="text-muted float-right">Just now</small>
                                      <div class="font-13">Your proposal interested me.</div>
                                  </div>
                              </div>
                          </a>
                          <a class="list-group-item">
                              <div class="media">
                                  <div class="media-img">
                                      <img src="./assets/img/users/u2.jpg">
                                  </div>
                                  <div class="media-body">
                                      <div class="font-strong"></div>Becky Brooks<small class="text-muted float-right">18 mins</small>
                                      <div class="font-13">Lorem Ipsum is simply.</div>
                                  </div>
                              </div>
                          </a>
                          <a class="list-group-item">
                              <div class="media">
                                  <div class="media-img">
                                      <img src="./assets/img/users/u3.jpg">
                                  </div>
                                  <div class="media-body">
                                      <div class="font-strong"></div>Frank Cruz<small class="text-muted float-right">18 mins</small>
                                      <div class="font-13">Lorem Ipsum is simply.</div>
                                  </div>
                              </div>
                          </a>
                          <a class="list-group-item">
                              <div class="media">
                                  <div class="media-img">
                                      <img src="./assets/img/users/u4.jpg">
                                  </div>
                                  <div class="media-body">
                                      <div class="font-strong"></div>Rose Pearson<small class="text-muted float-right">3 hrs</small>
                                      <div class="font-13">Lorem Ipsum is simply.</div>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </li><div class="slimScrollBar" style="background: rgb(113, 128, 143); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.9; z-index: 90; right: 1px;"></div></div>
              </ul>
          </li>
          <li class="dropdown dropdown-notification">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o rel"><span class="notify-signal"></span></i></a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                  <li class="dropdown-menu-header">
                      <div>
                          <span><strong>5 New</strong> Notifications</span>
                          <a class="pull-right" href="javascript:;">view all</a>
                      </div>
                  </li>
                  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 240px;"><li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f" style="overflow: hidden; width: auto; height: 240px;">
                      <div>
                          <a class="list-group-item">
                              <div class="media">
                                  <div class="media-img">
                                      <span class="badge badge-success badge-big"><i class="fa fa-check"></i></span>
                                  </div>
                                  <div class="media-body">
                                      <div class="font-13">4 task compiled</div><small class="text-muted">22 mins</small></div>
                              </div>
                          </a>
                          <a class="list-group-item">
                              <div class="media">
                                  <div class="media-img">
                                      <span class="badge badge-default badge-big"><i class="fa fa-shopping-basket"></i></span>
                                  </div>
                                  <div class="media-body">
                                      <div class="font-13">You have 12 new orders</div><small class="text-muted">40 mins</small></div>
                              </div>
                          </a>
                          <a class="list-group-item">
                              <div class="media">
                                  <div class="media-img">
                                      <span class="badge badge-danger badge-big"><i class="fa fa-bolt"></i></span>
                                  </div>
                                  <div class="media-body">
                                      <div class="font-13">Server #7 rebooted</div><small class="text-muted">2 hrs</small></div>
                              </div>
                          </a>
                          <a class="list-group-item">
                              <div class="media">
                                  <div class="media-img">
                                      <span class="badge badge-success badge-big"><i class="fa fa-user"></i></span>
                                  </div>
                                  <div class="media-body">
                                      <div class="font-13">New user registered</div><small class="text-muted">2 hrs</small></div>
                              </div>
                          </a>
                      </div>
                  </li><div class="slimScrollBar" style="background: rgb(113, 128, 143); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.9; z-index: 90; right: 1px;"></div></div>
              </ul>
          </li>
          <li class="dropdown dropdown-user">
              <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                  <img src="./assets/img/admin-avatar.png">
                  <span></span>Admin<i class="fa fa-angle-down m-l-5"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="profile.html"><i class="fa fa-user"></i>Profile</a>
                  <a class="dropdown-item" href="profile.html"><i class="fa fa-cog"></i>Settings</a>
                  <a class="dropdown-item" href="javascript:;"><i class="fa fa-support"></i>Support</a>
                  <li class="dropdown-divider"></li>
                  <a class="dropdown-item" href="login.html"><i class="fa fa-power-off"></i>Logout</a>
              </ul>
          </li>
      </ul>
      <!-- END TOP-RIGHT TOOLBAR-->
  </div>
</header>