<!-- <app-navbar></app-navbar> -->
<div class="accordion">
    <ul>
        <li>
            <a routerLink="/stands">
                <div>
                    <h1>Stand Accueil</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut consequat.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    <h1>Halls d'exposition</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    <h1>Conférence</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </a>
        </li>
    </ul>
</div>




































<!-- <body class="bg-gradient-primary ">


    <div class="col-9">
        <div class="row  center">
            <div class="col-4">
                <a class="btn btn-lg btn-success " href="#">
                    <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Stand Accueil<br><small>Lorem ipsum dolor</small></span></a>
            </div>
            <div class="col-4">
                <a class="btn btn-lg btn-warning" href="#">
                    <i class="glyphicon glyphicon-search pull-left"></i><span>Halls d'exposition<br><small>Lorem ipsum dolor</small></span></a>
            </div>
            <div class="col-4">
                <a class="btn btn-lg btn-info" href="#">
                    <i class="glyphicon glyphicon-list pull-left"></i><span>Conférence<br><small>Lorem ipsum dolor</small></span></a>
            </div>
        </div>
    </div>
</body> -->
<!-- <nav class="navbar navbar-default mt-5">
        </nav>

        <app-navbar></app-navbar>

        <div class="container">
            <div class="row">
              <div class="col-3">

                <div class="bg-light border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading">Therichpost </div>
                  <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
                  </div>
                </div> -->

<!-- </div> -->


<!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button> -->


<!--
          </div>
        </div>
      </div> -->

<!-- start space of hidden navba -->
<!-- <nav class="navbar navbar-default mt-5">
      </nav> -->
<!-- start navbar -->

<!-- start sidebar -->
<!-- <div class="page-wrapper chiller-theme toggled"> -->


<!-- <app-sidebar></app-sidebar> -->


<!-- start body of  page -->
<!-- <main class="page-content"> -->
<!-- <div class="container-fluid">

            <div class="row">
              <div class="col-4">
                <a class="btn btn-lg btn-success " href="#">
                  <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Stand Accueil<br><small>Lorem ipsum dolor</small></span></a>
                </div>
                <div class="col-4">
                  <a class="btn btn-lg btn-warning" href="#">
                    <i class="glyphicon glyphicon-search pull-left"></i><span>Halls d'exposition<br><small>Lorem ipsum dolor</small></span></a>
                  </div>
                  <div class="col-4">
                    <a class="btn btn-lg btn-info" href="#">
                      <i class="glyphicon glyphicon-list pull-left"></i><span>Conférence<br><small>Lorem ipsum dolor</small></span></a>

                    </div>
                  </div>
                </div> -->
<!-- <div class="container">

                  <app-add-stand-body class="container-fluid"></app-add-stand-body>
                </div> -->
<!-- </main> -->
<!-- </div> -->