<!-- 
<nav class="navbar navbar-default mt-5">
</nav>

<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9">
          <app-add-stand-body></app-add-stand-body>
        </div>
    </div>
</div> -->

<!-- start space of hidden navba -->

<div class="page-wrapper">
    <!-- START HEADER-->
    <app-navbar></app-navbar>
    <!-- END HEADER-->
    <!-- START SIDEBAR-->
    <app-sidebar></app-sidebar>
    <!-- END SIDEBAR-->
    <div class="content-wrapper">
        <app-add-stand-body class="container-fluid"></app-add-stand-body>
    </div>
</div>